<div class="main-cont flex min-h-screen ">
    <div class="w-6 left-cont">
        <div class="main-heading px-8">
            <h2 class="">Welcome to <br> <span>Elevate</span></h2>
            <p>Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
            <img class="" src="../../../../assets/Images/bro.png" alt="">
        </div>
    </div>
    <div class="w-6">
        <div class="">
            <app-small-nav></app-small-nav>
        </div>
        <div class=" main-info">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>